@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

body {
  @apply bg-black text-white;
  font-family: 'Arial', sans-serif;
}

input {
  @apply bg-black text-white border-white rounded focus:outline-none focus:border-gray-500;
  padding: 10px;
}

button {
  @apply bg-black text-white border-white rounded transition-all duration-200 ease-in-out transform hover:scale-105;
  padding: 10px;
}

h1, h2 {
  @apply text-white font-bold;
}

p {
  @apply text-white;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-content {
  flex: 1;
  padding: 20px;
  border: 1px solid greenyellow;
}

.right-content {
  flex: 1;
  padding: 20px;
  border: 1px solid greenyellow;
}

.container {
  padding: 20px;
  border: 1px solid greenyellow;
}

.card {
  padding: 10px;
  border: 1px solid greenyellow;
  margin-bottom: 10px;
}

.card-header {
  border-bottom: 1px solid greenyellow;
  margin-bottom: 10px;
}